body{
   background-image: url("background.png");
   color:white;
}
.border{
   border: 3px solid black;
   border-radius: 10%;
   background-color: black;
   margin: 14% 14%;
   padding: 2% 2%;
    
}
div > h1{
   text-align: center;
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
   color: white;
}
div > img{
   border-radius: 50%;
   width: 250px;
   height: 250px; 
   align-items: center;
   float: right;
}
img:hover{
   transform:rotate(720deg);
   transition-duration: 2s;
   scale: 4000;
   filter: saturate(8);
   
}
div > p{
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
   color: white;
   text-align: image;
   text-align: center;
}