h1 > section{
    color: darkblue; /*  Child combinator */
}
h1 section{
    color: darkred; /* Descendant combinator */
}
h1 + section {
    color: darkblue; /* Adjacent sibling combinator */
}
h1 ~ section{
    color: darkgray; /* Sibling combinator*/
    font-weight: 
}

